
body {
  font-family: 'Open Sans', sans-serif;
}

#teachers_from_history {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#menu {
  width: 100%;
}

#menu .item:first-child {
  text-align: center;
}

.ui.grid {
  padding: 10px;
}

.ui.styled.accordion {
  width: 100%;
}

#week {
  width: 100%;
}

#groupSchedule {
  width: 100%;
}

#groupSchedule table tr td {
  text-align: center;
}

#traffic td, #tests, .tests {
  text-align: center;
}

h4 {
  text-align: center;
}

.ui.steps {
  width: 100%;
}

#schedule_lunchs tr td {
  text-align: center;
}

#schedule_rings tr td {
  text-align: center;
}

input a {
  width: 100%;
}