*{
	margin: 0px;
	padding: 0px;
}

#rings{
	text-align: center;
}

#content{
	display: flex;
	flex-direction: column;
	align-items:center;
}

.oneNews{
	padding: 15px;
	margin: 15px;
	border: 1px solid black;
	word-wrap: break-word;
}

.oneNews article{
	padding: 20px;
}

#authorizateButtonDiv{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#childs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#childs ruby {
  text-align: center;
}