
table tr th{
  text-align: center;
}

table tr td  *  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h4 {
  text-align: center;
}

fieldset {
  height: 100%;
}

.header {
  text-align: center;
}

.ui.vertical.menu {
  width: 100%;
}


.ui.styled.accordion {
  
}